In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
debts = pd.read_csv("raw_debts_log_04.csv")

In [28]:
debts

,user_id,date,party,amount,notes,type
0,2,2024-08-30,Marah,-1,NaN,Recieved
1,2,2025-07-08,Raghad,9,NaN,Recieved
2,2,2025-07-06,Marah,3,In hac habitasse platea dictumst.,Recieved
3,2,2025-04-17,Marah,-8,NaN,Recieved
4,2,2025-08-18,Samyah,-18,"Morbi sem mauris, laoreet ut, rhoncus aliquet,...",Recieved
5,2,2025-03-15,Marah,-17,Suspendisse potenti.,Recieved
6,2,2024-08-27,Omar,-19,Nullam porttitor lacus at turpis.,Recieved
7,2,2024-08-19,Omar,33,NaN,Recieved
8,2,2024-06-20,Samyah,0,Vestibulum ante ipsum primis in faucibus orci ...,Recieved
9,2,2024-11-13,Omar,-20,NaN,Recieved
10,2,2025-08-24,Samyah,38,Fusce posuere felis sed lacus.,Recieved
11,2,2025-06-14,Raghad,17,Fusce consequat.,Recieved
12,2,2024-04-20,Marah,-2,NaN,Recieved
13,2,2024-06-07,Samyah,18,NaN,Recieved
14,2,2024-07-15,Marah,-13,Praesent blandit.,Recieved
15,2,2024-01-07,Raghad,-15,NaN,Recieved
16,2,2025-06-10,Raghad,39,NaN,Recieved
17,2,2024-03-05,Samyah,-19,NaN,Recieved
18,2,2025-05-12,Omar,8,NaN,Recieved
19,2,2025-08-11,Raghad,13,Vestibulum ante ipsum primis in faucibus orci ...,Recieved
20,2,2025-06-02,Samyah,12,Sed sagittis.,Recieved
21,2,2025-03-10,Marah,38,NaN,Recieved
22,2,2024-08-19,Omar,31,NaN,Recieved
23,2,2024-07-21,Raghad,37,NaN,Recieved
24,2,2025-06-23,Raghad,-3,NaN,Recieved
25,2,2024-12-30,Raghad,39,Nulla nisl.,Recieved
26,2,2025-05-20,Omar,36,NaN,Recieved
27,2,2024-10-28,Marah,39,Maecenas tincidunt lacus at velit.,Recieved
28,2,2024-09-05,Omar,0,NaN,Recieved
29,2,2025-03-17,Samyah,31,NaN,Recieved
30,2,2024-03-06,Samyah,26,NaN,Recieved
31,2,2024-09-15,Omar,-14,NaN,Recieved
32,2,2025-06-09,Samyah,9,NaN,Recieved
33,2,2025-01-20,Omar,-5,Pellentesque eget nunc.,Recieved
34,2,2025-06-18,Samyah,-20,Nam tristique tortor eu pede.,Recieved
35,2,2025-06-19,Raghad,31,"In est risus, auctor sed, tristique in, tempus...",Recieved
36,2,2025-06-20,Raghad,-13,Quisque id justo sit amet sapien dignissim ves...,Recieved
37,2,2024-10-16,Samyah,33,NaN,Recieved
38,2,2024-08-27,Raghad,-15,"Integer aliquet, massa id lobortis convallis, ...",Recieved
39,2,2024-03-04,Omar,16,NaN,Recieved
40,2,2025-05-25,Samyah,-3,Mauris sit amet eros.,Recieved
41,2,2025-02-09,Marah,37,NaN,Recieved
42,2,2024-11-02,Raghad,-17,Phasellus in felis.,Recieved
43,2,2025-04-11,Samyah,-12,Suspendisse potenti.,Recieved
44,2,2025-04-18,Raghad,21,NaN,Recieved
45,2,2025-03-30,Marah,14,"Vestibulum quam sapien, varius ut, blandit non...",Recieved
46,2,2024-09-14,Samyah,-20,NaN,Recieved
47,2,2025-04-04,Raghad,-8,NaN,Recieved
48,2,2025-07-30,Raghad,-5,NaN,Recieved
49,2,2024-07-03,Samyah,13,Donec ut mauris eget massa tempor convallis.,Recieved

In [29]:
debts.groupby("party")["amount"].sum()

party
Marah      90
Omar       66
Raghad    130
Samyah     88
Name: amount, dtype: int64

In [40]:
inv1 = pd.read_csv("raw_investments_log_01.csv")
inv2 = pd.read_csv("raw_investments_log_02.csv")

In [41]:
inv1

,user_id,date,change,notes
0,1,2024-11-30,69,"Integer aliquet, massa id lobortis convallis, ..."
1,1,2024-12-19,-52,"Integer pede justo, lacinia eget, tincidunt eg..."
2,1,2024-12-21,-20,NaN
3,1,2025-05-22,-22,Aliquam erat volutpat.
4,1,2024-11-05,-53,Cras pellentesque volutpat dui.
...,...,...,...,...
595,1,2025-08-18,70,NaN
596,1,2025-08-24,-2,Maecenas ut massa quis augue luctus tincidunt.
597,1,2025-07-05,6,NaN
598,1,2024-12-04,44,Ut at dolor quis odio consequat varius.
599,1,2025-01-14,10,Sed ante.

In [42]:
inv1["change"].sum()

np.int64(2495)